@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-image: url("/assets/bg.jpg");
  background-attachment: fixed;
  background-color: #020202;
  color: white;
}

@theme {
  --font-poppin: "Poppins", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --color-theme-red: oklch(44.4% 0.177 26.899);
  --color-theme-gray: #bfbfbf;
  --color-bgcard: #1f1f1f;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  transition: width 0.5s ease-in-out;
}
::-webkit-scrollbar:hover {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #770000;
  border-radius: 5px;
}

.custom-date-picker {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding: 10px 40px 10px 10px;
}

/* This makes the original calendar icon invisible while keeping it clickable */
.custom-date-picker::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: block;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 100%;
  cursor: pointer;
}

/* Custom white icon overlay */
.custom-date-picker:before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-1.99.9-1.99 2L3 20c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM7 12h5v5H7z"/></svg>');
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Makes the icon non-clickable but allows the input's functionality */
}
